.header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}
.logo {
  color: MediumAquamarine;
  display: inline;
  position: left;
}
.nav {
  display: inline-block;
  position: right;
  justify-content: space-around;
}
