.header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}
.logo {
  color: MediumAquamarine;
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  margin-left: 25px;
}

.logo span {
margin-left: 10px;
}

.nav {
display: flex;
flex-direction: row;
width: 300px;
align-items: center;
margin-left: 25px;
}

.nav li{
  display: inline-block;
  justify-content: flex-end;

}

ul{
  list-style-type: none;
}

a {
 color: black;
 margin: 0 10px;
}

.container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  border: 3px solid black;
}

.content {
  border-radius: 100%
  border: 3px solid black;
}

.column.large {
  display: flex;
  flex-direction: column;
  width: 630px;
  border: 3px solid black;
}

.column.medium {
  display: flex;
  flex-direction: column;
  width: 300px;
  border: 3px solid black;
}

.column.small {
  display: flex;
  flex-direction: column;
  width: 240px;
  border: 3px solid black;
}

.story.mother {
  display: flex;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
  background-position: center;
  background-size: cover;
  height: 300px;
}


.story.earth {
  display: flex;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
  background-repeat: repeat-x;
  height: 300px;
}

.story.research {
  display: flex;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
  background-repeat: repeat-x;
  height: 300px;
}

.story.cats {
  display: flex;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
  height: 300px;
}

.image.cookie {
  display: flex;
}

.content {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.image p{
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.story.mother p {
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}
